useDynLib(DreamBox7)
export(logRankScore, 
	getMI,
	getMI3,
	getMI2vs1, 
	getAllMIWz, 
	findAttractor, 
	load.exp, 
	loadTextMat, 
	getCorr, 
	getAllCorWz,
	findCorrAttractor,
	getCCDIdx,
	getAllCCDIWz,
	testNA, 
	cwknn.impute,
	ewknn.impute,
	ewknn.predict
)
