useDynLib(DreamBox7)
importFrom(survival, coxph, survConcordance)
importFrom(caret, createFolds)
importFrom(gbm, gbm.fit)
export(logRankScore, 
	getMI,
	getMI3,
	getMI2vs1, 
	getAllMIWz, 
	findAttractor, 
	load.exp, 
	loadTextMat, 
	getCorr, 
	getAllCorWz,
	findCorrAttractor,
	CreateMetageneSpace,
	CreateGeneSpace,
	lazyImputationDFClnc,
	expandClnc,
	getCCDIdx,
	getAllCCDIWz,
	gbm.cvrun,
	BFFW
)
